name: Deploy

on:
  push:
    branches:
      - master
      
jobs:
  run:
    name: Run script
    runs-on: ubuntu-18.04

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: copy file via ssh key
      uses: appleboy/scp-action@master
      env:
        HOST: 45.77.248.233
        USERNAME: root
        PORT: 22
        KEY: ${{ secrets.SSH_PVT }}
      with:
        source: "test.py"
        target: "/test"

    - name: Rocket.Chat Notification
      uses: RocketChat/Rocket.Chat.GitHub.Action.Notification@master
      if: always()
      with:
        type: ${{ job.status }}
        job_name: '*Test Deploy*'
        channel: '#nixfaq'
        mention: 'here'
        mention_if: 'failure'
        url: ${{ secrets.ROCKET_WEBHOOK }}
